<!DOCTYPE html>
<html>
  <head>
  <meta charset=utf-8 />
   <title>Use it or Lose it Blog - {{ page.title }}</title>
   <meta name="author" content="Stuart Robinson" />
   <link rel="alternate" type="application/atom+xml" title="Use it or Lose blog feed" href="http://feeds2.feedburner.com/uioli" />

   <link href="http://useitorlose.it/stylesheets/site/docs.css" media="all" rel="stylesheet" type="text/css" />


   <link href="/stylesheets/master.css" media="all" rel="stylesheet" type="text/css" />





</head>

<body>

  <div id="header">

    <div id="logo">
      <a href="/">
      <img id="icontype" src="http://useitorlose.it/images/logo-down-right-64.png">
      </a>
    </div>

    <div id="brandtext">
      <h1><a href="/"><img src="http://useitorlose.it/images/us/uioli-title.png" alt="Use it or Lose it"></a></h1>
    </div>

    <div id="nav">
      <!-- <a href="/#/signup">Sign Up</a> -->
      <!-- <a href="http://useitloseit.tumblr.com">Blog</a> -->
      <a class="" href="http://useitorlose.it/help">Help</a>
      <a class="CURR" href="http://blog.useitorlose.it/">Blog</a>
      <a class="" href="http://useitorlose.it/terms">Legal Stuff</a>
      <a class="" href="http://useitorlose.it/about">About Us</a>
      <a class="" href="http://useitorlose.it/hi">Home</a>        
    </div>
  
  </div>

  <div id="main">

    <div id="doc">
      {{ content }}
    </div>

    <div id='footer'>
      &copy; 2011 lastpixel
    </div>

  </div>
  
  <script type="text/javascript">
    var clicky_site_id = 254311;
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = ( document.location.protocol == 'https:' ? 'https://static.getclicky.com/js' : 'http://static.getclicky.com/js' );
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
  </script>

  <script type="text/javascript">
    var _kmq = _kmq || [];
    function _kms(u){
      setTimeout(function(){
        var s = document.createElement('script');
        var f = document.getElementsByTagName('script')[0]; 
        s.type = 'text/javascript'; s.async = true;
        s.src = u; f.parentNode.insertBefore(s, f);
      }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');
    _kms('//doug1izaerwt3.cloudfront.net/e9397523f1c21da12831df4f384342449ff74476.1.js');
  </script>
  
</body>
</html>
