<!DOCTYPE html>
<html>
  <head>
  <meta charset=utf-8 />
   <title>Use it or Lose it Blog - {{ page.title }}</title>
   <meta name="author" content="Stuart Robinson" />
   <link rel="alternate" type="application/atom+xml" title="Use it or Lose blog feed" href="http://feeds2.feedburner.com/uioli" />

   <link href="http://useitorlose.it/stylesheets/site/docs.css" media="all" rel="stylesheet" type="text/css" />


   <link href="/stylesheets/master.css" media="all" rel="stylesheet" type="text/css" />





</head>

<body>

  <div id="header">

    <div id="logo">
      <a href="/">
      <img id="icontype" src="http://useitorlose.it/images/logo-down-right-64.png">
      </a>
    </div>

    <div id="brandtext">
      <h1><a href="/"><img src="http://useitorlose.it/images/us/uioli-title.png" alt="Use it or Lose it"></a></h1>
    </div>

    <div id="nav">
      <!-- <a href="/#/signup">Sign Up</a> -->
      <!-- <a href="http://useitloseit.tumblr.com">Blog</a> -->
      <a class="" href="http://useitorlose.it/help">Help</a>
      <a class="CURR" href="http://blog.useitorlose.it/">Blog</a>
      <a class="" href="http://useitorlose.it/terms">Legal Stuff</a>
      <a class="" href="http://useitorlose.it/about">About Us</a>
      <a class="" href="http://useitorlose.it/hi">Home</a>        
    </div>
  
  </div>

  <div id="main">

    <div id="doc">
      {{ content }}
    </div>

    <div id='footer'>
      &copy; 2011 lastpixel
    </div>

  </div>

</body>
</html>
